@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html *{
    font-family: Roboto,tahoma !important;
}
body{
   margin: 0 !important; 
   padding: 0 !important;
}
.triangle::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0em;
    border: 1em solid transparent;
    border-left-color: #ffffff;
  }

input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .quantity input:focus {
    outline: none !important;
  }

  .quantity button:focus {
    outline: none !important;
  }